<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LG.Prateleira.UI.Windows.Properties.Settings.PRATELEIRAConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=PRATELEIRA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LG.Prateleira.UI.Windows.Properties.Settings.TreinamentoConnectionString"
            connectionString="Data Source=ACER-CLEBER\SQLEXPRESS;Initial Catalog=Treinamento;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>